.base-card {
  color: #614ea6;
  height: 35px;
}

.btn-detail {
  background-color: #614ea6;
  color: #ffffff;
}

.btn-detail:hover {
  background-color: #f21667;
  color: #ffffff;
}

.card-text {
  max-height: 100px;
  overflow: hidden;
}

.card-img {
  max-height: 200px;
  min-width: 100%;
}
